cryptography>=44.0
duckdb>=0.10
packaging>=23.1
pandas<3.0.0
polars
pyarrow>=16.0.1
pydantic>=2.7.2
PyYAML>=6.0.1
requests~=2.31
setuptools
typing-extensions>=4.7.1
eval-type-backport; python_version < "3.10"
backports.strenum>=0.4.1; python_version < "3.11"
